        <!-- main menu -->
        {% load i18n %}
        <nav class="row-block row-block_right Header-menu">
          <div class="menuModal" id="navigate">
            <ul class="menu menu_main">
              <li class="menu-item"><a class="menu-link" href="#">{% trans "домой" %}</a>
              </li>
              <li class="menu-item"><span class="menu-label menu-label_danger">{% trans "новое" %}</span>
                  <a class="menu-link" href="shop.html">{% trans "магазин" %}</a>
              </li>
              <li class="menu-item"><a class="menu-link" href="sale.html">{% trans "блок" %}</a>
              </li>
              <li class="menu-item"><span class="menu-label menu-label_success">{% trans "горячие предложения" %}</span>
                  <a class="menu-link" href="product.html">{% trans "галерея" %}</a>
              </li>
              <li class="menu-item"><a class="menu-link" href="contacts.html">{% trans "контакты" %}</a>
              </li>
              <li class="menu-item"><a class="menu-link" href="#">{% trans "каталог" %}</a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- end of main menu -->