{% load i18n %}
{% load static %}


<div class="Section-content">
  <header class="Section-header">
    <h2 class="Section-title">
      {% trans "Популярные товары" %}
    </h2>
  </header>
  <div class="Cards">
    {% for item in popular %}
      <div class="Card">
        <a class="Card-picture" href="{% url 'product-detail' item.id %}">
          <img src="/media/{{ item.images.first.image }}" alt="card.jpg"/>
        </a>
        <div class="Card-content">
          <strong class="Card-title">
            <a href="{% url 'product-detail' item.id %}">
              {{ item.name|slice:":40" }}
            </a>
          </strong>
          <div class="Card-description">
            <div class="Card-cost">
{#            <span class="Card-priceOld">$115.00</span>#}
              <span class="Card-price">{{ item.avg_price|floatformat:2 }} ₽</span>
            </div>
            <div class="Card-category">
              {{ item.category.name }}
            </div>
            <div class="Card-hover">
              {% include 'comparison/add.html' with type='product' id=item.id  %}
            </div>
          </div>
        </div>
{#      <div class="Card-sale">-60%</div>#}
      </div>
    {% empty %}
      {% trans "Популярные товары не найдены" %}
    {% endfor %}
  </div>
</div>
