{% extends "product/base.html" %}
{% load i18n %}
{% load static %}
{% load mptt_tags %}
{% load products_custom_tags %}

{% block title %}<title>Megano - {% trans "Каталог" %}</title> {% endblock %}

{% block content %}
<div class="Middle Middle_top">
  <div class="Middle-top">
    <div class="wrap">
      <div class="Middle-header">
        <ul class="breadcrumbs Middle-breadcrumbs">
          <li class="breadcrumbs-item">
            <a href="{% url 'main-page' %}">{% trans "Главная" %}</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current">
            <span>
               {% trans "Каталог товаров" %}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="Section Section_column Section_columnLeft">
    <div class="wrap">
      <div class="Section-column">
        <div class="Section-columnSection">
          <header class="Section-header">
            <strong class="Section-title">{% trans "Фильтры" %}
            </strong>
          </header>
          <div class="Section-columnContent">
            <form class="form"
                  action="{% url 'catalog-view' %}"
                  method="get">
              <div class="form-group">
                <div class="range Section-columnRange">
                  <input type="hidden" name="category" value="{{ current_category }}">
                  <input class="range-line" id="price" name="price" type="text"
                         data-type="double" data-min="50" data-max="500000" data-from="0" data-to="250000"/>
                  <div class="range-price">{% trans "Цена:" %}&#32;
                    <div class="rangePrice">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input class="form-input form-input_full" id="title" name="title"
                       type="text" placeholder="Название"/>
              </div>
              <div class="form-group">
                <select class="form-select" name="seller">
                  <option value="seller" selected="selected" disabled="disabled">{% trans "Продавец" %}
                  </option>
                  {% for seller in sellers %}
                    <option value="{{ seller.name }}">{{ seller.name }}
                    </option>
                  {% empty %}
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label class="toggle">
                  <input type="checkbox" name="stock"/><span class="toggle-box"></span>
                    <span class="toggle-text">{% trans "Только товары в наличии" %}</span>
                </label>
              </div>
              <div class="form-group">
                <label class="toggle">
                  <input type="checkbox" name="deliv"/>
                  <span class="toggle-box"></span>
                  <span class="toggle-text">{% trans "С бесплатной доставкой" %}</span>
                </label>
              </div>
              <div class="form-group">
                <br>
                <button class="buttons btn btn_square btn_dark btn_narrow"
                        type="submit">
                        {% trans "Применить фильтры" %}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="Section-content">
        <div class="Sort">
          <div class="Sort-title">{% trans "Сортировать по:" %}
          </div>
          <div class="Sort-variants">
            {% if request.GET.sort == 'dpop' %}
              <a class="Sort-sortBy Sort-sortBy_dec" href="?{% add_query_params request sort='apop' %}">
                {% trans "Популярности" %}
              </a>
            {% else %}
              <a class="Sort-sortBy Sort-sortBy_dec" href="?{% add_query_params request sort='dpop' %}">
                {% trans "Популярности" %}
              </a>
            {% endif %}

            {% if request.GET.sort == 'aprice' %}
              <a class="Sort-sortBy" href="?{% add_query_params request sort='dprice' %}">{% trans "Цене" %}</a>
            {% else %}
              <a class="Sort-sortBy" href="?{% add_query_params request sort='aprice' %}">{% trans "Цене" %}</a>
            {% endif %}

            {% if request.GET.sort == 'drate' %}
              <a class="Sort-sortBy" href="?{% add_query_params request sort='arate' %}">{% trans "Отзывам" %}</a>
            {% else %}
              <a class="Sort-sortBy" href="?{% add_query_params request sort='drate' %}">{% trans "Отзывам" %}</a>
            {% endif %}

            {% if request.GET.sort == 'dnew' %}
              <a class="Sort-sortBy Sort-sortBy_inc" href="?{% add_query_params request sort='anew' %}">
                {% trans "Новизне" %}
              </a>
            {% else %}
              <a class="Sort-sortBy Sort-sortBy_inc" href="?{% add_query_params request sort='dnew' %}">
                {% trans "Новизне" %}
              </a>
            {% endif %}

          </div>
        </div>

        <div class="Cards">
          {% for item in catalog %}
            <div class="Card">
              <a class="Card-picture" href="{% url 'product-detail' item.id %}">
                <img src="/media/{{ item.images.first.image }}" alt="card.jpg"/>
              </a>
              <div class="Card-content">
                <strong class="Card-title">
                  <a href="{% url 'product-detail' item.id %}">
                    {{ item.name|slice:":40" }}
                  </a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost">
{#                      <span class="Card-priceOld">₽115.00</span>#}
                    <span class="Card-price">{{ item.avg_price|floatformat:2 }} ₽</span>
                  </div>
                  <div class="Card-category">
                      {{ item.category.name }}
                  </div>
                  <div class="Card-hover">
                    {% include 'comparison/add.html' with type='product' id=item.id  %}
                  </div>
                </div>
              </div>
            </div>
          {% empty %}
            {% trans "товары не найдены"|capfirst %}
          {% endfor %}
        </div>

        {% block paginator %}
          <div class="Pagination">
            <div class="Pagination-ins">
              {% if page_obj.has_previous %}
                <a class="Pagination-element Pagination-element_prev"
                   href="?{% add_query_params request page=page_obj.previous_page_number %}">
                  <img src="{% static "assets/img/icons/prevPagination.svg" %}" alt="prevPagination.svg"/>
                </a>
                <a class="Pagination-element"
                   href="?{% add_query_params request page=page_obj.previous_page_number %}">
                  <span class="Pagination-text">{{ page_obj.previous_page_number }}</span>
                </a>
              {% else %}
                <a class="Pagination-element Pagination-element_prev" href="#">
                  <img src="{% static "assets/img/icons/prevPagination.svg" %}" alt="prevPagination.svg"/>
                </a>
              {% endif %}

              <a class="Pagination-element Pagination-element_current" href="#">
                <span class="Pagination-text">{{ page_obj.number }}</span>
              </a>

              {% if page_obj.has_next %}
                <a class="Pagination-element"
                   href="?{% add_query_params request page=page_obj.next_page_number %}">
                  <span class="Pagination-text">{{ page_obj.next_page_number }}</span>
                </a>
                <a class="Pagination-element Pagination-element_prev"
                   href="?{% add_query_params request page=page_obj.next_page_number %}">
                  <img src="{% static "assets/img/icons/nextPagination.svg" %}" alt="nextPagination.svg"/>
                </a>
              {% else %}
                <a class="Pagination-element Pagination-element_prev" href="#">
                  <img src="{% static "assets/img/icons/nextPagination.svg" %}" alt="nextPagination.svg"/>
                </a>
              {% endif %}
            </div>
          </div>
        {% endblock paginator %}
      </div>
    </div>
  </div>

</div>
{% endblock content %}