{% extends 'product/base.html' %}
{% load i18n %}
{% block title %} <title>{% trans "Восстановление пароля" %}</title>{% endblock %}
{% block header_row_main %}{% endblock %}
{% load static %}
{% block content %}
        <div class="wrap">
            <div class="row Header-rowMain">
                <div class="row-block Header-logo"><a class="logo" href="index.html"><img class="logo-image" src="{% static "assets/img/logo.png" %}" alt="logo.png" /></a>
                </div>
            </div>
            <div class="wrapper">
                <div class="header">
                    <h3 class="sign-in">{% trans "Восстановление пароля" %} (2/2)</h3>
                    <h5>{% trans "Придумайте новый пароль для учетной записи" %}</h5>
                </div>

                <form action="#" method="post">{% csrf_token %}
                    <div>
                        <label class="form-label" for="{{ form.new_password1.id_for_new_password1 }}">{% trans "Пароль" %}</label>
                         {{ form.new_password1 }}
                        <label class="form-label" for="{{ form.new_password2.id_for_new_password2 }}">{% trans "Подтверждение пароля" %} </label>
                        {{ form.new_password2 }}
                    </div>
                    <div>
                        <input type="submit" value={% trans "Сохранить пароль" %} />
                    </div>
                </form>
            </div>

        </div>

{#            <div class="Section-content">#}
{#                <div class="Profile">#}
{#                    {% if validlink %}#}
{#                    <p class="form-label">Пожалуйста введите (и потдвердите) ваш новый пароль.</p>#}
{#                    <form class="form Profile-form" action="#" method="post">#}
{#                        <div class="row">#}
{#                            <div class="row-block">#}
{#                                    {% csrf_token %}#}
{#                                    {% if form.non_field_errors %}#}
{#                                    {% for error in form.non_field_errors %}#}
{#                                    <div class="form-error">{{ error|escape }}</div>#}
{#                                    {% endfor %}#}
{#                                    {% endif %}#}
{#                                    <div class="form-group">#}
{#                                    <label class="form-label" for="{{ form.new_password1.id_for_new_password1 }}">Пароль#}
{#                                    </label>#}
{#                                    {{ form.new_password1 }}#}
{#                                    {% if form.new_password1.errors %}#}
{#                                        {% for error in form.new_password1.errors %}#}
{#                                        <div class="form-error">{{ error|escape }}</div>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                    </div>#}
{#                                    <div class="form-group">#}
{#                                        <label class="form-label" for="{{ form.new_password2.id_for_new_password2 }}">Подтверждение#}
{#                                            пароля#}
{#                                        </label>#}
{#                                        {{ form.new_password2 }}#}
{#                                        {% if form.new_password2.errors %}#}
{#                                            {% for error in form.new_password2.errors %}#}
{#                                            <div class="form-error">{{ error|escape }}</div>#}
{#                                            {% endfor %}#}
{#                                        {% endif %}#}
{#                                    </div>#}
{#                                    <div class="form-group">#}
{#                                        <div class="Profile-btn">#}
{#                                            <button class="btn btn_success" type="submit">Сохранить#}
{#                                            </button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                            </div>#}
{#                            <div class="row-block">#}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}
{#                    {% else %}#}
{#                    <h1 class="form-error">Сброс пароля не удался</h1>#}
{#                    <p class="form-error">Ссылка для сброса пароля не рабочая, возможно потому что она была уже использована. Пожалуйста, запросите новый сброс пароля.</p>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{% endblock %}