{% extends "product/base.html" %}
{% load static %}
{% load i18n %}
{% block title %} <title>{% trans "Пароль успешно изменен" %}</title>{% endblock %}
{% block header_row_main %}{% endblock %}
{% block content %}
<div class="wrap">
            <div class="row Header-rowMain">
                <div class="row-block Header-logo"><a class="logo" href="index.html"><img class="logo-image" src="{% static "assets/img/logo.png" %}" alt="logo.png" /></a>
                </div>
            </div>
            <div class="wrapper">
                <div class="header">
            <div class="Section-content">
                <div class="Profile">
                    <div class="row">
                        <h5>{% trans "Пароль был успешно изменен" %}. <a href="{% url 'login' %}">{% trans "Вход" %}</a></h5>
                    </div>
                    <div class="row-block"></div>
                    <div class="row-block"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
{% endblock %}