{% extends "product/base.html" %}
{% load i18n %}
{% block title %} <title>{% trans "Восстановление пароля" %}</title>{% endblock %}
{% block header_row_main %}{% endblock %}
{% load static %}
{% block content %}

        <div class="wrap">
            <div class="row Header-rowMain">
                <div class="row-block Header-logo"><a class="logo" href="index.html"><img class="logo-image" src="{% static "assets/img/logo.png" %}" alt="logo.png" /></a>
                </div>
            </div>
            <div class="wrapper">
                <div class="header">
            <div class="Section-content">
                <div class="Profile">
                    <div class="row">
                            <h5>{% trans "Мы отправили вам письмо на email с инструкциями. Если они не пришли через несколько минут, проверьте папку со спамом." %}</h5>

                        <div class="row-block">

                        </div>
                        <div class="row-block">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}