{% extends 'product/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} <title>{% trans "Востановления пароля" %}</title>{% endblock %}
{% block header_row_main %}{% endblock %}
{% block content %}



    </div>
        <div class="wrap">
            <div class="row Header-rowMain">
                <div class="row-block Header-logo"><a class="logo" href="index.html"><img class="logo-image" src="{% static "assets/img/logo.png" %}" alt="logo.png" /></a>
                </div>
            </div>
            <div class="wrapper">
                <div class="header">
                    <h3 class="sign-in">{% trans "Восстановление пароля" %} (1/2)</h3>
                    <h5>{% trans "Для восстановления пароля введите адрес электронной почты, на которую зарегистрирована учетная запись" %}</h5>
                </div>
                <form  method="post">{% csrf_token %}
                    <div>
                        <label class="form-label" for="{{ form.email.id_for_email }}">E-mail</label>
                        {{ form.email }}

                    </div>
                    <div>
                        <input type="submit" value={% trans "Получить проверочный код" %} />
                    </div>
                    <a class="registr" href="{% url 'signup' %}">
                        {% trans "Вход" %}
                    </a>
                </form>
            </div>
        </div>
{% endblock %}