{% extends 'product/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}


<div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% trans "Профиль" %}
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main-page' %}">{% trans "домой" %}</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans "Профиль" %}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">{% trans "Навигация" %}
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="NavigateProfile">
                <ul class="menu menu_vt">
                  <li class="menu-item"><a class="menu-link" href="{% url 'accaunt' %}">{% trans "Личный кабинет" %}</a>
                  </li>
                  <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'accaunt_edit' %}">{% trans "Профиль" %}</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'history' %}">{% trans "История заказов" %}</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'history_view' %}">{% trans "История просмотра" %}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Profile">
            <form class="form Profile-form" action="#" method="post" enctype="multipart/form-data" novalidate>
                {%csrf_token%}
              <div class="row">
                <div class="row-block">
                  <div class="form-group">
                    <label class="form-label" for="avatar">{% trans "Аватар" %}
                    </label>
                    <div class="Profile-avatar">
                      <label class="Profile-fileLabel" for="avatar"><div class="Profile-img"><img src="
                        {% if request.user.avatar %}
                            {{ MEDIA_URL }}{{ request.user.avatar.url }}
                        {% else %}
                            <p>Нету фото</p>
                        {% endif %}" alt="аватарка"/>
                      </div>
                      </label>
                      <input class="Profile-file form-input" id="avatar" name="avatar" type="file" data-validate="onlyImgAvatar"/>
                    </div>
                      {% if accaunt_form.avatar.errors %}
                                        {% for error in accaunt_form.avatar.errors %}
                                        <div class="form-error">{{ error|escape }}</div>
                                        {% endfor %}
                      {% endif %}
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="name">ФИО
                    </label>
                      {{ accaunt_form.name }}
                       {% if accaunt_form.name.errors %}
                                        {% for error in accaunt_form.name.errors %}
                                        <div class="form-error">{{ error|escape }}</div>
                                        {% endfor %}
                      {% endif %}
                  </div>
                </div>
                <div class="row-block">
                  <div class="form-group">
                    <label class="form-label" for="phone">{% trans "Телефон" %}
                    </label>

                     {{ accaunt_form.phone }}
                       {% if accaunt_form.phone.errors %}
                                        {% for error in accaunt_form.phone.errors %}
                                        <div class="form-error">{{ error|escape }}</div>
                                        {% endfor %}
                      {% endif %}
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="{{ form.email.id_for_email }}">{% trans "Почта" %}
                    </label>
                    {{ accaunt_form.email }}
                      {% if accaunt_form.email.errors %}
                                        {% for error in accaunt_form.email.errors %}
                                        <div class="form-error">{{ error|escape }}</div>
                                        {% endfor %}
                      {% endif %}
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="password">{% trans "Пароль" %}
                    </label>
{#                      {{ password_change_form.new_password1 }}#}
                    <input class="form-input" id="password" name="password" type="password" placeholder="Тут можно изменить пароль"/>
                  </div>
                  <div class="form-group">

                    <label class="form-label" for="passwordReply">{% trans "Подтверждение пароля" %}
                    </label>
{#                       {{ password_change_form.new_password2 }}#}
                    <input class="form-input" id="passwordReply" name="passwordReply" type="password" placeholder="Введите пароль повторно"/>
                  </div>
                  <div class="form-group">
                    <div class="Profile-btn">
                      <button class="btn btn_success" type="submit">{% trans "Сохранить" %}
                      </button>
                    </div>
                      {% if messages %}
                          {% for message in messages %}
                    <div class="Profile-success">{{ message }}
                          {% endfor %}
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}